@font-face {
    font-family: 'SPSL RussiaChurch';
    src: url("../fonts/spslrussiachurch.otf") format("truetype");
}

@font-face {
    font-family: 'TT Travels';
    src: url("../fonts/TT_Travels-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'TT Travels';
    src: url("../fonts/TT_Travels-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'TT Travels';
    src: url("../fonts/TT_Travels-DemiBold.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'TT Travels';
    src: url("../fonts/TT_Travels-Bold.otf") format("opentype");
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'TT Travels';
    font-weight: 400;
    background-color: #FFFEF6;
}

main{
    margin-top: 117px;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

.container{
    width: 90vw;
    margin: 0 auto;
}


.navigation-container{
    display: flex;
    justify-content: center;
    gap: 120px;
    width: 100%;
    padding: 6px 0;
    list-style: none;
    background-color: #BE0F0F; 
    font-size: 32px;
    font-weight: 600;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.navigation-container a{
    color: #fff;
}

.navigation-ornament{
    position: fixed;
    top: 50px;
    width: 100%;
    height: 25px;
    z-index: 4;
    background-image: url("../img/Group 1.png");
}

.href-container{
    text-decoration: none;
    margin-left: 80px;
    font-size: 1.7vw;
    list-style: none;
    display: flex;
    font-weight: 400;
    margin-bottom: 24px;
}
main a{color: #272727;}
main{
    margin-bottom: 100px;
}
.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11vw;
}

.description-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BE0F0F; /* Темно-красный фон */
    width: 33vw;
    margin-top: -15px;
}

.text-img-flex{
    position: relative;  
}

.img-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text{
    font-size: 13.5px;
    text-align: right;
    font-weight: 600;
    color: white;
    padding: 24px;
    margin-bottom: 2.3vw;
    margin-left: 80px;
}


.suzdal-img-box{
    width: 30vw;
    margin-bottom: 27px;
}

.suzdal-img{
    width: 210px;
    position: absolute;
    top: 40px;
    left: -140px;
}

.kaluga-text{
    display: inline-block;
    font-family: 'SPSL RussiaChurch';
    font-weight: 400;
    font-size: 14vw;
    text-align: center;
    vertical-align: middle;
    margin-left: 90px;
}

.stone-img{
    position: absolute;
    width: 16vw;
    bottom: -150px;
    right: 50px;
    top: 20vw;
}

.second-container{
    width: 90vw;
    margin: 0 auto;
}

.holiday-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.holiday-text{
    font-family: 'SPSL RussiaChurch';
    font-weight: 400;
    font-size: 8.3vw;
}

.holidays{
    width: 20vw;
    height: 65px;
}

.holiday-text-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1.3vw;
}

.left-text-container{
    position: relative;
    width: 185vw;
    margin-right: 1.3vw;
}

.left-text{
    font-weight: 500;
    font-size: 1.3vw;
}

.holiday-orn{
    margin-bottom: 5.6vw;
    width: 90vw;
}

.my-trip{
    font-family: 'SPSL RussiaChurch';
    font-size: 8.3vw;
    text-align: center;
    margin-bottom: 24px;
}
.trip-container{
    display: flex;
}

.trip-text{
    width: 70vw;
    font-size: 1.3vw;
    margin-right: 50px;
}

.trip-photo-1{
    width: 18vw;
} 

.Shurovo-text{
    margin-top: 1.3vw;
    font-size: 1.3vw; 
    margin-bottom: 1.3vw;  
}

.Shurovo-photos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3vw;
}

.Shurovo-photo{
    width: 44vw;
}

.section-two{
    display: flex;
    margin-bottom: 1.3vw;
}
.section-two-text-up{
    width: 67vw;
    margin-left: 1.3vw;
    font-size: 1.3vw;
    margin-bottom: 0.4vw;
}
.section-two-text-down{
    width: 67vw;
    margin-left: 1.3vw;
    font-size: 1.3vw;
    margin-bottom: 0.5vw;
}
.section-two-photo{
    width: 19.3vw;
}

.section-third-photos{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3vw;
}

.section-third-photo{
    width: 44vw;
}

.section-third-text{
    font-size: 1.3vw;
}

.section-fourth-photos{
    margin-top: 1.3vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3vw;
}

.section-fourth-small{
    width: 21vw;
}
.section-fourth-center{
    width: 44vw;
}
.section-fourth-text{
    font-size: 1.3vw;
    margin-bottom: 1.3vw;
}

.section-fifth{
    display: flex;
    margin-bottom: 1.3vw;
}
.section-fifth-photos{
    width: 45vw;
    margin-right: 1.3vw;
}
.section-fifth-texts{
    width: 45vw;
    font-size: 1.3vw;
}

.section-sixth-text{
    margin-bottom: 1.3vw;
    font-size: 1.3vw;
}
.section-sixth-photo{
    margin-bottom: 1.3vw;
}




.video-rectangle{
    width: 90vw;
    margin-bottom: 5vw;
}










footer{
    background-color:#272727;
    height: 347px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 347px;
}

.footer-list{
    line-height: 60px;
}

.footer-list li{
    color: white;
    font-weight: 500;
    font-size: 24px;
    list-style: none;
}
.footer-list a{
    text-decoration: none;
    color: #fff;
}
.video-container{
    width: 100%;
}
iframe{
    width: 90vw;
    height: 40vw;
}
.mobile-adapt{
    display: none;
}
.logo{
    margin-right: 170px; 
}

.social-net{
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    align-items: center;
    margin-top: 20px;
}
.telegram{
    margin-bottom: 20px;
}

.img_off{
    display: none;
}

.nav-flex{
    position: absolute;
    display: none;
}

.logo-adapt{
    position: absolute;
    display: none;
}

.link-container-adapt{
    display: none;
}

.holiday-container-adapt{
    display: none;
}

.img-link-adapt{
    display: none;
}

.logo-adapt{
    position: absolute;
    display: none;
}

.holiday-orn-adapt{
    display: none;
}

.my-trip-adapt{
    display: none;
}

.trip-cont-adapt{
    display: none;
}

.section-two-adapt{
    display: none;
}

.section-third-adapt{
    display: none;
}

.sec4-adapt{
    display: none;
}

.fourth-adapt{
    display: none;
}

.fifth-adapt{
    display: none;
}

.sixth-adapt{
    display: none;
}

@media (max-width: 640px){
    main{
        overflow: visible;
        margin-top: 16px;
        margin-bottom: 50px;
        font-weight: 500;
    }

    b{
        font-weight: 700;
    }

    .video-container.pc {
        display: none;
    }
    .video-container.mobile-adapt {
        display: block;
    }
    .left-text-container{
        border: 2px solid #BE0F0F;
        padding: 10px;
    }
    .right-text-container{
        border: 2px solid #BE0F0F;
        padding: 10px;
    }

    .img_off{
        display: block;
    }

    .navigation-container .nav-item{
        position:absolute;
        display: none;
    }

    .nav-flex{
        width: 90vw;
        display: flex;
        position: static;
        overflow-x: hidden;
        overflow-y: hidden;
        justify-content: space-evenly;
        scroll-behavior: smooth;
    }

    .nav-main_container{
        display: flex;
        justify-content: space-between;
        width: 90vw;
    }

    .open_menu{
        font-family: TT Travels;
        font-weight: 600;
        font-size: 4vw;
        display: flex;
        align-items: center;
    }

    .open-menu-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        margin: auto 0;
    }

    .chevron{
        font-size: 30px;
        padding: 8px 16px;
        border: solid #BE0F0F 3px;
        transition: background-color 0.3s;
    }

    .chevron:hover{
        background-color: #272727;
        color: white;
    }

    .navigation-container{
        margin-bottom: 16px;
        color: white;
    }
    .rec_video{
        display: flex;
        align-items: center;
        margin-top: 50px;
    }
    .video-container{
        display: none;
    }
    .mobNavText{
        position: static;
        display: block;
        font-family: 'SPSL RussiaChurch';
        font-weight: 400;
        font-size: 24px; 
    }
    .navigation-ornament{
        position: absolute;
        display: none;
    }
    .href-container{
        display: none;
    }

    .link-container-adapt{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .link-container-adapt p{
        font-family: 'SPSL RussiaChurch';
        font-size: 95px;
        line-height: 84%;
        text-align: right;
    }

    .link-container-adapt img{
        height: min-content;
    }

    .kaluga-text{
        display: none;
    }
    .stone-img{
        display: none;
    }
    .suzdal-img{
        display: none;
    }

    .description-container{
        width: 91vw;
    }
    .card-text{
        font-family: 'TT Travels';
        font-weight: 600;
        font-size: 16px;
        margin: 0;
        text-align: left;
    }

    .suzdal-img-box{
        width: 90%;
    }

    .holidays{
        display: none;
    }

    .holiday-text-container{
        width: 91vw;
        margin-bottom: 50px;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
    }

    .holiday-text{
        font-family: SPSL RussiaChurch;
        font-weight: 400;
        font-size: 96px;
        line-height: 100%;
    }

    .left-text{
        font-family: 'TT Travels';
        font-size: 16px;
        line-height: 129%;
        letter-spacing: 0%;
        width: 80vw;
    }

    .right-text-container ul .left-text{
        width: 97%;
    }

    .holiday-orn{
        display: none;
    }

    .holiday-orn-adapt{
        display: block;
        margin-bottom: 50px;
        width: 100%;
    }

    .my-trip{
        display: none;
    }

    .my-trip-adapt{
        display:flex;
        flex-direction: column;
        margin-bottom: 24px;
    }

    .my-trip-adapt p{
        font-family: 'SPSL RussiaChurch';
        font-weight: 400;
        font-size: 24vw;
        line-height: 100%;
    }

    .my-trip-adapt .sec1{
        display: flex;
    }

    .my-trip-adapt .sec1 img{
        width: 100%;
    }

    .trip-container{
        display: none;
    }

    .trip-cont-adapt{
        display: block;
    }

    .trip-cont-adapt .par{
        margin-bottom: 24px;
        width: 100%;
    }

    .trip-text{
        font-size: 16px;
        margin: 0;
        margin-bottom: 24px;
        width: 100%;
    }

    .trip-photo-1{
        width: 100%;
    }
    
    .framed{
        position: relative;
    }

    .framed p{
        padding: 52px 48px;
    }

    .framed .img1{
        position: absolute;
        left: 0;
        top: 0;
    }
    .framed .img2{
        position: absolute;
        right: 0;
        bottom: 0;
    }

    .Shurovo-text{
        display: none;
    }

    .br-off{
        display: none;
    }

    .Shurovo-photo{
        width: 100%;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .Shurovo-photos .photo-2{
        display: none;
    }

    .section-two{
        display: none;
    }

    .section-two-photo{
        width: 100%;
    }

    .section-two-adapt{
        display: block;
    }

    .section-two-adapt p{
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        width: 100%;
        margin-left: 0;
        margin-bottom: 24px;
    }

    .section-two-adapt img{
        margin-bottom: 24px;
    }

    .section-third{
        margin-bottom: 24px;
    }

    .section-third-text{
        margin-bottom: 24px;
    }

    .section-third-photos{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        margin-bottom: 24px;
    }

    .section-third-photo{
        width: 70vw;
    }

    .section-third-photos img:not(:last-child){
        margin-right: 8px;
    }

    .section-third-text{
        font-family: 'TT Travels';
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
    }

    .section-fourth-photos{
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        margin-bottom: 24px;
    }

    .section-fourth-small:first-child{
        display: none;
    }

    .section-fourth-photos img:not(:last-child){
        margin-right: 8px;
    }

    .sec4-adapt{
        display: block;
        width: 85vw;
    }

    .section-fourth-center{
        width: 85vw;
    }

    .section-fourth-small:last-child{
        width: 41vw;
    }

    .section-fourth-text{
        font-family: 'TT Travels';
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        margin-bottom: 24px;
    }

    .fifth-left{
        margin-bottom: 24px;
    }

    .logo{
        position: absolute;
        display: none;
    }

    .logo-adapt{
        display: block;
        position: static;
    }

    .social-net{
        position: absolute;
        display: none;
    }

    .footer-list{
        line-height: 32px;
    }

    .footer-list li{
        font-size: 16px;
    }

    footer{
        height: auto;
    }

    .footer-container{
        height: auto;
        padding: 24px 16px;
    }

    .footer-list li:nth-child(3) a::before{
        content: "Города" ;
        display: inline-block;
    }

    .mobile-only {
        display: block;
    }
    .pc-only {
        display: none;
    }
    
    .footer-list li.mobile-only a::before {
        content: "Города";
        font-weight: 500;
        font-size: 16px;
    }

    .section-third-adapt{
        display: block;
    }

    .section-third{
        display: none;
    }

    .section-fourth{
        display: none;
    }

    .fourth-adapt{
        display: block;
    }

    .section-fifth{
        display: none;
    }

    .fifth-adapt{
        display: block;
    }

    .adapt-5-photos{
        margin: 24px 0;
        display: flex;
    }

    .section-5-pic{
        width: 45vw;
    }

    .section-5-pic:first-child{
        margin-right: 8px;
    }

    .section-sixth{
        display: none;
    }

    .sixth-adapt{
        display: block;
    }

    .adapt-6-text{
        margin-bottom: 24px;
    }
}
