@font-face {
    font-family: 'SPSL RussiaChurch';
    src: url("fonts/spslrussiachurch.otf") format("truetype");
}

@font-face {
    font-family: 'TT Travels';
    src: url("fonts/TT_Travels-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'TT Travels';
    src: url("fonts/TT_Travels-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'TT Travels';
    src: url("fonts/TT_Travels-DemiBold.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'TT Travels';
    src: url("fonts/TT_Travels-Bold.otf") format("opentype");
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'TT Travels';
    font-weight: 400;
    background-color: #FFFEF6;
}

a{
    text-decoration: none;
    color: inherit;
}

main{
    overflow-x: hidden;
}

header{
    margin-bottom: 100px;
}

.container{
    width: 90vw;
    margin: 0 auto;
}

.navigation-container{
    display: flex;
    justify-content: center;
    gap: 120px;
    width: 100%;
    padding: 6px 0;
    list-style: none;
    background-color: #BE0F0F; 
    font-size: 32px;
    font-weight: 600;
}
.navigation-container a{
    color: #fff;
}
.navigation-ornament{
    position: absolute;
    width: 100%;
    height: 25px;
    z-index: 4;
    background-image: url("img/Group 1.png");
}

.error-404{
    width: 100%;
    height: 30vw;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    align-items: center;
    justify-content: center;

}
.error-text{
    font-size: 1.3vw;
    text-align: center;
    width: 30vw;
    margin-top: 2vw;
    margin-bottom: 1.3vw;
}

.button-return{
    display: inline-block;
    background: #272727; 
    color: #fff; 
    padding: 1.2rem 0.7rem; 
    text-decoration: none; 
    font-weight: 700;
    font-size: 1.3vw;
}
footer{
    margin-top: 5.7vw;
    background-color:#272727;
    height: 347px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 347px;
}

.footer-list{
    line-height: 60px;
}

.footer-list li{
    color: white;
    font-weight: 500;
    font-size: 24px;
    list-style: none;
}

.logo{
    margin-right: 170px; 
}

.social-net{
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    align-items: center;
    margin-top: 20px;
}
.telegram{
    margin-bottom: 20px;
}

.mobNavText{
    position: absolute;
    display: none;
}

.about_mobile{
    position: absolute;
    display: none;
}

.for-you-adapt{
    position: absolute;
    display: none;
}

.test-adapt{
    position: absolute;
    display: none;
}

.location_adapt{
    position: absolute;
    display: none;
}

.nav-flex{
    position: absolute;
    display: none;
}

.logo-adapt{
    position: absolute;
    display: none;
}

.video-adapt{
    display: none;
}

@media (max-width: 640px){
    .navigation-container .nav-item{
        position:absolute;
        display: none;
    }

    .nav-flex{
        width: 90vw;
        display: flex;
        position: static;
        overflow-x: hidden;
        overflow-y: hidden;
        justify-content: space-evenly;
        scroll-behavior: smooth;
    }

    .nav-main_container{
        display: flex;
        justify-content: space-between;
        width: 90vw;
    }

    .open_menu{
        font-family: TT Travels;
        font-weight: 600;
        font-size: 4vw;
        display: flex;
        align-items: center;
    }

    .open-menu-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        margin: auto 0;
    }

    .navigation-container{
        margin-bottom: 16px;
        color: white;
    }

    .rec_video{
        display: flex;
        align-items: center;
    }
    .video-container{
        width: 90%;
        margin-bottom: 0;
        z-index: 0;
        margin-top: 50px;
    }
    .mobNavText{
        position: static;
        display: block;
        font-family: 'SPSL RussiaChurch';
        font-weight: 400;
        font-size: 24px; 
    }
    .navigation-ornament{
        position: absolute;
        display: none;
    }
}