*{
    margin: 0;
    padding: 0;
}

html{
    position: sticky;
}

body{
    font-family: 'TT Travels';
    font-weight: 400;
    background-color: #FFFEF6;
    position: sticky;
}

a{
    text-decoration: none;
    color: inherit;
}

main{
    overflow-x: hidden;
}



.container{
    width: 90vw;
    margin: 0 auto;
}

.navigation-container{
    display: flex;
    justify-content: center;
    gap: 120px;
    width: 100%;
    padding: 6px 0;
    list-style: none;
    background-color: #BE0F0F; 
    font-size: 32px;
    font-weight: 600;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.navigation-container a{
    color: #fff;
}

.navigation-ornament{
    position: fixed;
    top: 50px;
    /* position: absolute; */
    width: 100%;
    height: 25px;
    z-index: 4;
    background-image: url("img/Group 1.png");
}

.rec_video{
    position: relative;
}

.video-flex{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 700px;
}

.video-container{
    width: 100%;
    background-color: #B7B7B7;
    margin-bottom: 20px;
    z-index: -1;
}



.quote{
    font-size: 64px;
    font-weight: 800;
    margin-bottom: 48px;
}

.author{
    font-size: 36px;
    font-weight: 700;
}

.author-title{
    font-size: 24px;
    font-weight: 500;
}

.quote-container{
    text-align: center;
    position: relative;
    margin-bottom: 100px;
    padding-top: 150px;
}

.quote-gradient{
    width: 100%;
    height: 500px;
    background-image: url(img/ellipse.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    z-index: -1;
    bottom: -50px;
    right: 0;
}

.text{
    font-size: 17px;
    font-weight: 500;
    margin: 0 auto;
}

.project{
    font-family: 'SPSL RussiaChurch';
    font-weight: 400;
    font-size: 17.5vw;
}

.pattern-1{
    height: 94px;
    background-image: url("img/орнамент.png");
    background-size: cover;
    margin-bottom: 100px;
}

.about{
    display: flex;
    justify-content: space-between;
    margin-bottom: 123px;
}

.about-text{
    margin: 0 20px;
    width: 42vw;
}

.about-spring{
    align-self: flex-end;
}

.about-fire{
    align-self: baseline;
}

.about-img{
    width: 23vw;
}

/* .slider{
    display: flex;
    position: relative;
    user-select: none;
    touch-action: pan-y;
    margin-bottom: 100px;
    margin-left: 80px;
}

.slide{
    list-style: none;
    display: inline-block;
    min-width: 22vw;
    margin-right: 24px;
}

.slide img{
    width: 100%;
    height: 100%;
    pointer-events: none;
} */


.slider-swiper{
    align-items: center;
    width: 90vw;
    margin: 0 auto;
}


.swiper{
    margin: 50px auto;
    overflow: hidden;
    padding-bottom: 60px;
}

.swiper-slide{
    position: relative;
    filter: grayscale(10%) brightness(40%);
    pointer-events: none;
    will-change: transform;
    margin-bottom: 40px;
}

.swiper-slide-active{
    perspective: 1000px;
    filter: grayscale(0) brightness(100%);
    pointer-events: auto;
    transition: all 0.3s ease-in-out;
}

.swiper .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    background: #BE0F0F;
}

.swiper-slide img{
    width: 19vw;
}





.map{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
}

.map img{
    width: 80vw;
    margin: 0 auto;
}

.map-text{
    font-family: 'SPSL RussiaChurch';
    font-weight: 400;
    font-size: 128px;
    align-self: flex-start;
}

.dots{
    color: white;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.suzdal{
    position: absolute;
    top: 430px;
    left: 330px;
    transition: transform .5s;
}

.kaluga{
    position: absolute;
    top: 530px;
    left: 280px;
    transition: transform .5s;
}

.suzdal:hover{
    transform: scale(1.5);
}

.kaluga:hover{
    transform: scale(1.5);
}

.for-you{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.for-you p{
    font-family: 'SPSL RussiaChurch';
    font-weight: 400;
    font-size: 7vw;
}

.for-you img{
    width: 35vw;
}

.test{
    display: flex;
    justify-content: space-between;
    background-color: #BE0F0F;
    padding: 40px;
    padding-bottom: 112px;
    margin-bottom: 100px;
}

.test img{
    width: 42vw;
}

.text-link{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #fff;
    font-family: TT Travels;
    font-weight: 600;
    font-size: 2vw;
}

.text-link p{
    width: 70%;
}

.text-link a{
    background-color: #272727;
    padding: 32px 12vw;
    border-radius: 60px;
    font-weight: 600;
}

.contacts{
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.contacts .churchtext{
    font-family: 'SPSL RussiaChurch';
    font-weight: 400;
    font-size: 7vw;
}

.contacts p{
    font-family: TT Travels;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
}

.contacts p a{
    text-decoration: underline;
}

.mirrored{
    transform: scaleX(-1);
}

footer{
    background-color:#272727;
    height: 347px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 347px;
}

.footer-list{
    line-height: 60px;
}

.footer-list li{
    color: white;
    font-weight: 500;
    font-size: 24px;
    list-style: none;
}

.logo{
    margin-right: 170px; 
}

.social-net{
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    align-items: center;
    margin-top: 20px;
}
.telegram{
    margin-bottom: 20px;
}

.mobNavText{
    position: absolute;
    display: none;
}

.about_mobile{
    position: absolute;
    display: none;
}

.for-you-adapt{
    position: absolute;
    display: none;
}

.test-adapt{
    position: absolute;
    display: none;
}

.location_adapt{
    position: absolute;
    display: none;
}

.nav-flex{
    position: absolute;
    display: none;
}

.logo-adapt{
    position: absolute;
    display: none;
}

@media (max-width: 640px){
    main{
        overflow: visible;
    }
    .navigation-container a{
        position:absolute;
        display: none;
    }
    .nav-flex{
        display: flex;
        position: static;
        justify-content: space-between;
    }

    .navigation-container{
        margin-bottom: 16px;
        color: white;
    }
    .rec_video{
        display: flex;
        align-items: center;
    }
    .video-container{
        width: 90%;
        margin-bottom: 0;
        z-index: 0;
        margin-top: 50px;
    }
    .mobNavText{
        position: static;
        display: block;
        font-family: 'SPSL RussiaChurch';
        font-weight: 400;
        font-size: 24px; 
    }
    .navigation-ornament{
        position: absolute;
        display: none;
    }

    .quote{
        font-size: 24px;
        font-weight: 800;
        margin-bottom: 16px;
    }
    
    .author{
        font-size: 20px;
        font-weight: 700;
    }
    
    .author-title{
        font-size: 14px;
        font-weight: 500;
    }
    
    .quote-container{
        margin-top: 50px;
        text-align: center;
        position: relative;
        padding: 0;
        margin-bottom: 100px;
    }
    
    .quote-gradient{
        height: 300px;
        margin: 0 auto;
        background: #BE0F0FCC;
        background: radial-gradient(ellipse closest-corner, rgba(190, 15, 15, 0.8) 30%, rgba(190, 15, 15, 0.4) 55%, rgba(255, 255, 255, 0.4) 50%);
        filter: blur(50px);
        bottom: -100px;
    }

    .pattern-1{
        width: 90vw;
        margin: 0 auto;
        height: 29px;
        background-image: url("img/орнамент_adapt.png");
        background-size: auto;
        margin-bottom: 50px;
    }
    
    .about{
        position: absolute;
        display: none;
    }

    .about_mobile{
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .about_mobile .project{
        text-align: center;
        font-size: 96px;
    }

    .about_m_section{
        margin-bottom: 16px;
    }

    .about_m_text{
        font-size: 16px;
        font-weight: 500;
        line-height: 121%;
    }
    .about_m_text_bold{
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 8px;
    }

    .about_m_sec{
        display: flex;
    }

    .about_m_sec_1{
        margin-right: 8px;
    }

    .about_m_sec_1 img{
        width: 177px;
    }

    .about-m-fire{
        width: 361px;
        margin-bottom: 26px;
    }

    .about_m_text_last{
        margin-bottom: 50px;
    }

    .slider{
        display: flex;
        position: relative;
        user-select: none;
        touch-action: pan-y;
        margin-bottom: 100px;
        margin-left: 80px;
    }
    
    .slide{
        list-style: none;
        display: inline-block;
        min-width: 44vw;
        margin-right: 4px;
    }
    
    .slide img{
        width: 100%;
        height: 100%;
        pointer-events: none;
    }

    .map{
        position: absolute;
        display: none;
    }

    .location_text{
        margin-bottom: 24px;
        overflow: hidden;
    }

    .location_text p{
        font-family: 'SPSL RussiaChurch';
        font-weight: 400;
        font-size: 96px;
        line-height: 87px;
        letter-spacing: 0%;
    }

    .where_pattern{
        display: flex;
        justify-content: space-between;
    }

    .where_pattern p{
        margin-right: 8px;
    }

    .img-link-flex{
        display: flex;
        justify-content: space-between;
    }
    .img-text{
        position: relative;
        font-weight: 700;
        font-size: 24px;
        color: #fff;
        z-index: 2;
        text-align: center;
        top: 20vw;
    }
    .img-link{
        width: 44vw;
        height: 41vw;
    }
    
    .ik-bg{
        position: relative;
        margin-bottom: 16px;
        background-image: url("img/суздаль.png");
        background-size: cover;
    }
    
    .ik-bg::before{
        width: 44vw;
        height: 41vw;
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        background-repeat: no-repeat;
    }
    
    .sv-bg{
        position: relative;
        margin-bottom: 16px;
        background-image: url("img/калугамоб.png");
        background-size: cover;
    }
    
    .sv-bg::before{
        width: 44vw;
        height: 41vw;
        content: '';
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }

    .for-you{
        position: absolute;
        display: none;
    }

    .for-you-adapt{
        position: static;
        display: flex;
        margin-bottom: 24px;
    }
    .for-you-adapt p{
        font-family: SPSL RussiaChurch;
        font-weight: 400;
        font-size: 21vw;
        line-height: 87px;
    }

    .test{
        position: absolute;
        display: none;
    }
    
    
    text-link{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        color: #fff;
        font-family: TT Travels;
        font-weight: 600;
        font-size: 2vw;
    }
    
    text-link p{
        width: 70%;
    }
    
    text-link a{
        background-color: #272727;
        padding: 32px 12vw;
        border-radius: 60px;
        font-weight: 600;
    }
    
    .test-adapt{
        position: static;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: space-between;
        background-color: #BE0F0F;
        padding: 16px 40px;
        margin-bottom: 50px;
    }

    .test-adapt img{
        margin-bottom: 16px;
    }

    .test-adapt p{
        font-family: TT Travels;
        font-weight: 600;
        font-size: 24px;
        margin-bottom: 16px;
    }

    .text-link-adapt a{
        background-color: #272727;
        padding: 8px 40px;
        border-radius: 60px;
        font-weight: 600;
        color: white;
    }
    
    .bird{
        position: absolute;
        display: none;
    }

    .mirrored{
        position: absolute;
        display: none;
    }

    .contacts p{
        font-size: 16px;
    }

    .contacts .churchtext{
        font-size: 96px;
    }
    
    .texts{
        margin: 0 auto;
    }

    .contacts{
        margin-bottom: 50px;
    }

    .logo{
        position: absolute;
        display: none;
    }

    .location_adapt{
        display: block;
        position: static;
    }

    .logo-adapt{
        display: block;
        position: static;
    }

    .social-net{
        position: absolute;
        display: none;
    }

    .footer-list{
        line-height: 32px;
    }

    .footer-list li{
        font-size: 16px;
    }

    footer{
        height: auto;
    }

    .footer-container{
        height: auto;
        padding: 24px 16px;
    }
}