@font-face {
    font-family: 'SPSL RussiaChurch';
    src: url("../fonts/spslrussiachurch.otf") format("truetype");
}

@font-face {
    font-family: 'TT Travels';
    src: url("../fonts/TT_Travels-Regular.otf") format("opentype");
    font-weight: 400;
}

@font-face {
    font-family: 'TT Travels';
    src: url("../fonts/TT_Travels-Medium.otf") format("opentype");
    font-weight: 500;
}

@font-face {
    font-family: 'TT Travels';
    src: url("../fonts/TT_Travels-DemiBold.otf") format("opentype");
    font-weight: 600;
}

@font-face {
    font-family: 'TT Travels';
    src: url("../fonts/TT_Travels-Bold.otf") format("opentype");
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'TT Travels';
    font-weight: 400;
    background-color: #FFFEF6;
}

main{
    margin-top: 117px;
}

a{
    text-decoration: none;
}
img{
    max-width: 100%;
}

.container{
    width: 90vw;
    margin: 0 auto;
}


.navigation-container{
    display: flex;
    justify-content: center;
    gap: 120px;
    width: 100%;
    padding: 6px 0;
    list-style: none;
    background-color: #BE0F0F; 
    font-size: 32px;
    font-weight: 600;
    position: fixed;
    top: 0;
    z-index: 1000;
}
.navigation-container a{
    color: #fff;
}

.navigation-ornament{
    position: fixed;
    top: 50px;
    width: 100%;
    height: 25px;
    z-index: 4;
    background-image: url("../img/Group 1.png");
}

.rec_video{
    position: relative;
}

.video-flex{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 700px;
}

.video-container{
    width: 100%;
    background-color: #B7B7B7;
    margin-bottom: 20px;
    z-index: -1;
}

.href-container{
    text-decoration: none;
    margin-left: 80px;
    font-size: 1.7vw;
    list-style: none;
    display: flex;
    font-weight: 400;
    margin-bottom: 24px;
}
main a{color: #272727;}
main{
    margin-bottom: 100px;
}
.main-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 11vw;
}

.description-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #BE0F0F; /* Темно-красный фон */
    width: 33vw;
    margin-top: -15px;
}

.text-img-flex{
    position: relative;  
}

.img-container{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-text{
    font-size: 13.5px;
    text-align: right;
    font-weight: 600;
    color: white;
    padding: 24px;
    margin-bottom: 3.5vw;
    margin-left: 80px;
}


.suzdal-img-box{
    width: 30vw;
    margin-bottom: 27px;
}

.suzdal-img{
    width: 210px;
    position: absolute;
    top: 40px;
    left: -140px;
}

.kaluga-text{
    display: inline-block;
    font-family: 'SPSL RussiaChurch';
    font-weight: 400;
    font-size: 14vw;
    text-align: center;
    vertical-align: middle;
    margin-left: 130px;
}


.stone-img{
    position: absolute;
    width: 16vw;
    bottom: -150px;
    right: -150px;
    top: 20vw;
}

.second-container{
    width: 90vw;
    margin: 0 auto;
}

.holiday-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 22px;
}

.holiday-text{
    font-family: 'SPSL RussiaChurch';
    font-weight: 400;
    font-size: 128px;
}

.holidays{
    width: 34vw;
    height: 65px;
}

.img-link-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.img-link{
    width: 100%;
    height: 41vw;
}

.ik-bg{
    position: relative;
    margin-bottom: 16px;
    background-image: url("../img/kaluga-holiday.png");
    background-size: cover;
}

.ik-bg::before{
    width: 100%;
    height: 41vw;
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    background-repeat: no-repeat;
}

.img-text{
    position: relative;
    font-weight: 700;
    font-size: 60px;
    color: #fff;
    z-index: 2;
    text-align: center;
    top: 20vw;
}


.img-link-flex{
    display: flex;
    justify-content: space-between;
}

.under-text-flex{
    display: flex;
    justify-content: space-between;
}

.second-container{
    width: 90vw;
    margin: 0 auto;
}

.under-text{
    width: 100%;
    font-weight: 500;
    font-size: 20px;
}

footer{
    background-color:#272727;
    height: 347px;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 347px;
}

.footer-list{
    line-height: 60px;
}

.footer-list li{
    color: white;
    font-weight: 500;
    font-size: 24px;
    list-style: none;
}
.footer-list a{
    text-decoration: none;
    color: #fff;
}

.logo{
    margin-right: 170px; 
}

.social-net{
    display: flex;
    flex-direction: column;
    /* align-self: center; */
    align-items: center;
    margin-top: 20px;
}
.telegram{
    margin-bottom: 20px;
}

.nav-flex{
    position: absolute;
    display: none;
}

.logo-adapt{
    position: absolute;
    display: none;
}

.link-container-adapt{
    display: none;
}

.holiday-container-adapt{
    display: none;
}

.img-link-adapt{
    display: none;
}

.logo-adapt{
    position: absolute;
    display: none;
}

@media (max-width: 640px){   
    main{
        overflow: visible;
        margin-top: 16px;
        margin-bottom: 50px;
    }
    .navigation-container .nav-item{
        position:absolute;
        display: none;
    }

    .nav-flex{
        width: 90vw;
        display: flex;
        position: static;
        overflow-x: hidden;
        overflow-y: hidden;
        justify-content: space-evenly;
        scroll-behavior: smooth;
    }

    .nav-main_container{
        display: flex;
        justify-content: space-between;
        width: 90vw;
    }

    .open_menu{
        font-family: TT Travels;
        font-weight: 600;
        font-size: 4vw;
        display: flex;
        align-items: center;
    }

    .open-menu-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 90vw;
        margin: auto 0;
    }

    .chevron{
        font-size: 30px;
        padding: 8px 16px;
        border: solid #BE0F0F 3px;
        transition: background-color 0.3s;
    }

    .chevron:hover{
        background-color: #272727;
        color: white;
    }

    .navigation-container{
        margin-bottom: 16px;
        color: white;
    }
    .rec_video{
        display: flex;
        align-items: center;
        margin-top: 50px;
    }
    .video-container{
        display: none;
    }
    .mobNavText{
        position: static;
        display: block;
        font-family: 'SPSL RussiaChurch';
        font-weight: 400;
        font-size: 24px; 
    }
    .navigation-ornament{
        position: absolute;
        display: none;
    }

    .href-container{
        display: none;
    }

    .link-container-adapt{
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .link-container-adapt p{
        font-family: 'SPSL RussiaChurch';
        font-size: 126px;
        line-height: 84%;
    }

    .link-container-adapt img{
        height: min-content;
    }

    .suzdal-text{
        display: none;
    }
    .stone-img{
        display: none;
    }
    .suzdal-img{
        display: none;
    }

    .description-container{
        width: 91vw;
    }
    .card-text{
        font-family: 'TT Travels';
        font-weight: 600;
        font-size: 16px;
        margin: 0;
        text-align: left;
    }

    .suzdal-img-box{
        width: 90%;
    }

    .holiday-container{
        display: none;
    }
    .holiday-container-adapt{
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
    }
    .holiday-container-adapt p{
        font-family: 'SPSL RussiaChurch';
        font-size: 24vw;
        line-height: 100%;
    }

    .holiday-container-adapt img{
        width: 30vw;
    }

    .img-link-container{
        display: none;
    }

    .img-link-adapt{
        display: flex;
        flex-direction: column;
    }

    .img-link{
        width: 91vw;
        height: 96vw;
        margin-bottom: 6px;
    }

    .ik-bg::before{
        width: 91vw;
        height: 96vw;
    }
    .sv-bg::before{
        width: 91vw;
        height: 96vw;
    }

    .img-text{
        font-family: 'TT Travels';
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        top: 45vw;
    }

    .under-text{
        font-family: 'TT Travels';
        font-weight: 600;
        font-size: 16px;
        line-height: 100%;
        letter-spacing: 0%;
        width: fit-content;
    }

    .section1{
        margin-bottom: 24px;
    }

    .logo{
        position: absolute;
        display: none;
    }

    .logo-adapt{
        display: block;
        position: static;
    }

    .social-net{
        position: absolute;
        display: none;
    }

    .footer-list{
        line-height: 32px;
    }

    .footer-list li{
        font-size: 16px;
    }

    footer{
        height: auto;
    }

    .footer-container{
        height: auto;
        padding: 24px 16px;
    }

    .kaluga-text{
        display: none;
    }
    
    .ik-bg{
        background-image: url("../img/maslenitsa_adapt.png");
    }

    .footer-list li:nth-child(3) a::before{
        content: "Города" ;
        display: inline-block;
    }

    .mobile-only {
        display: block;
    }
    .pc-only {
        display: none;
    }
    
    .footer-list li.mobile-only a::before {
        content: "Города";
        font-weight: 500;
        font-size: 16px;
    }
}
